.about {
    display: flex;
}

.about-first {
    width: 100%;
}

.about-first img {
    width: 100%
}   

.about-second {
    width: 70%;
    margin: 0 5%;
}

.about-second .subtitle {
    width: 56%;
    margin-bottom: 29px;
}

.about-second .text-style {
    margin: 2% 7% 0 0;
}

.about-second .btn {
    margin-top: 36px;
}

/* media queries */
@media screen and (max-width:1200px) {
    .about-second {
        width: 100%;
    }

    .about-first{
        width: 150%
    }

    .about-second .title {
        font-size: 30px;
        line-height: 25px;
        letter-spacing: 0;
        width: 100%;
    }

    .about-second .subtitle {
        line-height: 20px;
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width:1000px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-first {
        width: 70%;
        margin-top: 20px;
    }

    .about-second {
        margin: 0 20px;
    }

    .about-second .title {
        margin-left: 15%;
        margin-top: 20px;
    }

    .about-second .subtitle {
        margin-left: 15%;
    }

    .about-second .text-style {
        margin-left: 15%;  
    }

    .about-second .btn {
        margin-left: 15%;
    }
}