.blog {
    display: flex;
    margin: 0 20% 8%;
}

.blog-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.blog-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-text {
    color: #7443ff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.blog-item .subtitle {
    margin: 40px 0;
}

.blog-form-item {
    position: relative;
    margin-top: 40px;
}

.blog-form-item:first-child {
    margin-top: 0;
}

.blog-form-item input {
    padding-bottom: 29px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-width: 0 0 1px;
    border-color: #72787a50;
    width: 100%;
}

.blog-form-item input:hover {
    border-bottom-color: #7443ff;
    cursor: pointer;
    font-weight: 600;
}

.blog-form-item:hover .submit-icon {
    color: #7443ff;
}

.submit-icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #72787a;
}

.blog-item-select select {
    -webkit-appearance: none;
    padding-bottom: 10px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-width: 0 0 1px;
    border-color: #72787a50;
    width: 100%;
}

.blog-item-select select:hover {
    cursor: pointer;
    outline: 0;
    border-bottom-color: #7443ff;
    color: #72787a;
    font-weight: 600;
}

.blog-checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.blog-checkbox-item {
     -webkit-appearance: none;
     display: inline-block;
     position: relative;
     height: 26px;
     width: 26px;
     border: 1px solid #d1d1d1;;
     cursor: pointer;     
     outline: none;
     margin: 0 20px 0 0;
}

.blog-checkbox-item:checked::before {
     position: absolute;
     content: '\2713';
     font-size: 20px;
     font-weight: 800;
     bottom: 0;
     left: 4px;
     
}
.blog-checkbox-item:hover {
    border-color: #7443ff;
}

.blog-checkbox-item:checked {
    color: #7443ff;
    border-color: #7443ff;
}

.blog-checkbox label {
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
} 

.blog-form .btn {
    margin-top: 44px;
}

/* media query */
@media screen and (max-width:1020px) {
    .blog {
        flex-direction: column;
    }
    
    .blog-form-item:first-child {
        margin-top: 40px;
    }
}