.contacts {
    margin: 0 20%;
}

.contacts hr {
    height: 2px;
    background-color: #000000;
    opacity: 0.1;
    border: none;
}

.contacts-item {
    display: flex;
    margin-top: 7%;
}

.contact-component {
    margin-right: 5%;
}

.contact-title {
    color: #2a2d2e;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin: 6% 0 3%;
    white-space: nowrap;
}

/* media query */
@media screen and (max-width:1020px) {
    .contacts-item {
        flex-direction: column;
    }
    
    .blog-form-item:first-child {
        margin-top: 40px;
    }
}