.creative {
    display: flex;
    justify-content: space-between;
    margin: 7% 0 5%;
}

.creative-first-item {
    margin: 0 5%;
    width: 50%; 
}

.creative-first-item .title {
    width: 90%;
}

.creative-first-item .subtitle {
    margin: 35px 0;
    width: 62%;
}

.creative-second-item {
    width: 100%;
}

.creative-second-item img {
    width: 100%;
}

/* media queries */
@media screen and (max-width:1640px) {
    .creative-first-item .title {
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .creative-first-item {
        width: 70%;
    }

    .creative-first-item .title {
        font-size: 30px;
        line-height: 25px;
        width: 100%;
    }

    .creative-first-item .subtitle {
        line-height: 20px;
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width:1000px) {
    .creative {
        flex-direction: column;
        align-items: center;
    }
    
    .creative-second-item {
        width: 70%;
        margin-top: 20px;
    }
}