.footer {
    display: flex;
    margin: 0 10% 6%;
    justify-content: space-between;
    align-items: center;
}

.footer-first-item {
    width: 100%;
}

.footer-second-item {
    width: 50%;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.footer-logo div {
    padding: 23px 16px;
    background-color: #262b40;
    border-radius: 50%;
    margin-right: 19px;
}

.footer-title {
    color: #262b40;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1.04px;
}

.footer-social {
    display: flex;
    margin-top: 20px;
}

.footer-social li {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-right: 10px;
    color: #72787a;
}

.footer-social a {
    text-decoration: none;
}

.footer-social li:hover {
    color: #14171d;
    font-weight: 500;
}

.footer-input {
    position: relative;
    margin-top: 40px;
}

.footer-input input {
    padding-bottom: 10px;
    color: #72787a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-width: 0 0 2px;
    border-color: #666666;;
    width: 100%;
}

.footer-input input:hover {
    border-bottom-color: #7443ff;
    cursor: pointer;
    font-weight: 600;
}

.submit-icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #72787a;
}

.footer-input:hover .submit-icon {
    color: #7443ff;
}

.footer-line {
    height: 9px;
    background-color: #14171d;
    border: none;
    margin: 0 10%;
}

/* media query */
@media screen and (max-width:1200px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-second-item {
        width: 50%;
        margin-top: 30px;
    }
}