.header-wrap {
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(60, 63, 67, 0.5),
            rgba(60, 63, 67, 0.5)),
        url(../img/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 0;
}

.header-menu-icon {
    font-size: 24px;
    color: #fff;
}

.header-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {   
    font-size: 200px;
    font-weight: 700;
    letter-spacing: -12px;
    margin-top: 10%;
}

.header-subtitle {
    font-size: 36px;
    font-weight: 400;
}

.header-down-btn {
    position: absolute;
    bottom: 46px;
    display: flex;
    margin-left: 49vw;
    font-size: 40px;
}

.header-down-btn a {
    color: #fff;
}

/* media queries */
@media screen and (max-width:1200px) {
    .header-title {
        font-size: 100px;
        margin-top: 20%;
    }

    .header-subtitle {
        font-size: 20px;
        margin: 50px 0;
    }
}

@media screen and (max-width: 900px) {
    .header-subtitle {
        margin: 30px 0;
    }
}