@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 27px 36px;
    border-radius: 32px;
    width: 190px;
    text-align: center;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.white-btn { 
    border: 1px solid #ffffff; 
    margin-top: 27px;
}

.white-btn a {
    color: #fff;
    text-decoration: none;
}

.white-btn:hover {
    cursor: pointer;
    background-color: #00000050;
}

.title {
    color: #2a2d2e;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 100px;
}

.subtitle {
    color: #2a2d2e;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.black-btn {
    border: 1px solid #111111; 
}

.black-btn {
    color: #111111;
    text-decoration: none;
}

.black-btn:hover {
    cursor: pointer;
    background-color: #111111;
    color: #fff;
    font-weight: 700;
}

.text-style {
    font-family: 'Poppins', sans-serif;
    color: #72787a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* media query */
@media screen and (max-width:1520px) {
    .title {
        font-size: 40px;
        line-height: 50px;
    }

    .subtitle {
        font-size: 14px;
        width: 100%;
    }
    .btn {
        padding: 14px 18px;
    }
}

@media screen and (max-width:800px) {  
    .btn {
        width: 150px;
    }
}
