.nav-bar {
    display: flex;
    margin: 5% 0 3%;
    justify-content: center;
}

.nav-bar a {
    margin-right: 30px;
    color: #818586;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.9px;
    text-decoration: none;
}

.nav-bar a:last-child {
    margin-right: 0;
}

.nav-bar a:hover {
    color: #2a2d2e;
}

/* media query */
@media screen and (max-width:1100px) {
    .nav-bar a {
        margin-right: 15px;
        font-size: 14px;
    }
}