.portfolio-item {
    background-size: cover;
    position: relative;
}

.portfolio-item-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.portfolio-text-top {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    margin: 0 0 10px 40px;
}

.portfolio-text-bottom {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px 40px;
}

.portfolio-container {
    display: grid;
    height: 280vh;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1vw;
    margin: 0 auto;
    margin-bottom: 49px;
}

.portfolio-item1 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port1.png);
    grid-column: 1/3;
    grid-row: 1/3;
}

.portfolio-item2 { 
    background-image:
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)), 
    url(../img/port2.png);
    grid-column: 3/5;
    grid-row: 1/2;
}

.portfolio-item3 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port3.png);
    grid-column: 3/5;
    grid-row: 2/3;
}

.portfolio-item4 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port4.png);
    grid-column: 1/2;
    grid-row: 3/5;
}

.portfolio-item5 { 
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port5.png);
    grid-column: 2/4;
    grid-row: 3/5;
}

.portfolio-item6 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port6.png);
    grid-column: 4/5;
    grid-row: 3/4;
}

.portfolio-item7 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port7.png);
    grid-column: 4/5;
    grid-row: 4/5;
}

.portfolio-item8 { 
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port8.png);
    grid-column: 1/3;
    grid-row: 5/7;
}

.portfolio-item9 {
    background-image: 
    linear-gradient(
        rgba(60, 63, 67, 0.3),
        rgba(60, 63, 67, 0.3)),
    url(../img/port9.png);
    grid-column: 3/5;
    grid-row: 5/7;
} 

.holder {
    position: relative;   
    overflow: hidden; 
    transition: 0.5s Ease;   
}

.portfolio-hover {
    background-image: linear-gradient(209deg, rgba(2,0,36,1) 0%, rgba(37,37,113,1) 0%, rgba(255,166,0,0.20) 0%);
    color:white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;  
    transition: 0.6s Ease;
    line-height: 1;
}

.portfolio-item:hover .portfolio-item-text {
    display: none;
}

.holder:hover .portfolio-hover {   
    right: 0px;
    cursor: pointer;   
} 

.portfolio-hover-btn:hover {   
    background-color: #ffffff60;
    font-weight: 600; 
}

.portfolio-icon-size {
    font-size: 60px;
    margin-bottom: 20px;
}

.portfolio-hover-btn {
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border: 4px solid #ffffff;
    border-radius: 32px;
    width: 150px;
    margin: 0 auto;
}

.portfolio-hover-btn a {
    color: #ffffff;
    text-decoration: none;
}

.portfolio .btn {
    margin: 0 auto;
}

/* media query */
@media screen and (max-width:1250px) {
   .portfolio-container {
        height: 200vh;
   }
   
   .portfolio-text-top {
        font-size: 12px;
    }

    .portfolio-text-bottom {
        font-size: 20px;
    }

    .portfolio-hover-btn {
        width: 100px;
        font-size: 14px;
        padding: 10px 0;
    }

    .portfolio-icon-size {
        font-size: 40px;
    }
}

@media screen and (max-width:1100px) {
    .portfolio-text-top {
        margin-left: 15px;
    }

    .portfolio-text-bottom {
        margin-left: 15px;
    }
 }

 /* @media screen and (max-width:900px) {
    .portfolio-container {
        height: 150vh;
    }
    .portfolio-text-bottom {
        font-size: 15px;
    }
}

@media screen and (max-width:720px) {
    .portfolio-container {
        height: 100vh;
    }
} */

@media screen and (max-width:920px) {
    .portfolio-container {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 1vw;
        height: 500vh;
        margin: 0 auto;
        margin-bottom: 30px;
    } 
    
    .portfolio-item1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .portfolio-item2 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .portfolio-item3 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .portfolio-item4 {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    .portfolio-item6 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .portfolio-item7 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .portfolio-item5 {
        grid-column: 1/3;
        grid-row: 7/9;
    }
    
    .portfolio-item8 {
        grid-column: 1/3;
        grid-row: 9/11;
    }
    
    .portfolio-item9 {
        grid-column: 1/3;
        grid-row: 11/13;
    }
}



