.project-cost {
    background-image: url(../img/project-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 8% 0 10%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.project-cost-wrap {
    display: flex;
    justify-content: center;
}

.project-cost .title {
    color: #ffffff;
    margin-top: 6%;
    text-align: center;
}

.project-cost .subtitle {
    color: #ffffff;
    text-align: center;
}

.project-cost-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}

.project-cost-img {
    margin-top: 30%;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    padding: 10px;
}

.project-cost-img:hover {
    border-color: #ffffff;
}

.project-cost-item h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -1.2px;
}

.project-cost-item a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.project-cost-item .btn {
    padding: 15px 0;
}

.project-cost-item .btn:hover {
    background-color: #7443ff;
    border-color: #7443ff;
}

/* media query */
@media screen and (max-width:820px) {
    .project-cost {
        height: 120vh;
    }
    
    .project-cost-wrap {
        display: flex;
        flex-direction: column;
    }

    .project-cost-item h4 {
        line-height: 30px;
    }

    .project-cost-item ul {
        display: none;
    }

    .project-cost-img {
        margin-top: 5%;
    }
}