.social{
    height: 200px;
    background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
    display: flex;
    color: #ffffff;
    text-align: center;
    margin: 7% 0 5%;
}

.social-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 200px;
    width: 100%;
}

.statistics-wrap:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);;
}

.social-wrap i {
    font-size: 50px;
    color: #ffffff;
}

.social-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: none;
    margin-top: 30px;
}

.social-wrap:hover {
    cursor: pointer;
}

.social-wrap:hover .social-text {
    display: block;
}

/* media query */
@media screen and (max-width:750px) {
    .social {
        display: flex;
        align-items: center;
        height: 100px;
    }
    
    .social-wrap i {
        font-size: 25px;
    }

    .social-text {
        margin-top: 15px;
        font-size: 12px;
    }
}